#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	        dh_auto_configure -- --disable-imxg2d --enable-dbus --enable-systemd-login --enable-systemd-notify

override_dh_auto_test:
	true

override_dh_fixperms:
	dh_fixperms -Xusr/bin/weston-launch
